
.tc-chat .tc-single-msg-box{
    padding: 0;
}
.tc-chat {
    padding: 0;
}

.tc-chat .tc-users {
    padding-right: 0;
    border-radius: 0;
}

.tc-chat .tc-users .tc-head {
    border-radius: 0;
}

.tc-chat .tc-users .tc-head.prev-user-label {
    border-radius: 0 !important;
}

.tc-user.tc-open-chat.prev-user.tc-user-prev {
    border-radius: 0;
}

.tc-user.tc-open-chat.current + .tc-user {
    border-radius: 0;
}
.tc-chat .tc-users .tc-user::before,
.tc-chat .tc-users .tc-user::after
{
    content: none;
}


.tc-user.tc-open-chat.current {
    border-left-color: transparent;
}

.tc-users .tc-user .tc-user-time{
    color: #aaa;
}



.tc-chat .tc-single-msg-box .tc-msg-box-head{
    background: #fff;
    padding: 15px;
    z-index: 99;
}