:root {
    --chat-dark-grey: #0c3246;
    --chat-color-2: #224e68;
    --chat-color-3: linear-gradient(to left, #14608c, #224e68);
    --nc-chat-scrollbar: #0e2d40;
    --nc-chat-color: var(--chat-color-2);
    --nc-element-color: var(--chat-color-3);
}
.tc-chat .tc-single-msg-box .tc-msg-box-body .tc-msg-body.tc-right-msg .tc-msg-txt,
.tc-chat .tc-single-msg-box .tc-msg-box-footer .tc-send-btn
{
    background: var(--nc-element-color);
}

.tc-users-dropdown {
    background: var(--nc-chat-color);
}

.tc-users-dropdown .tc-head {
    background: var(--nc-chat-color);
    padding: 0;
}

.tc-users-dropdown .tc-head .tc-search-input {
    background: transparent;
    color: #fff;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.tc-users-dropdown .tc-head .tc-search-input::placeholder {
    color: #ddd;
}

.tc-users-dropdown .tc-head .tc-search-input:focus {
    outline: none;
}

.tc-users-dropdown .tc-head .tc-search-icon {
    color: #fff;
}

.tc-users-dropdown .tc-all-users {
    padding: 0;
}

.tc-users-dropdown .tc-user {
    box-shadow: none;
    padding: 10px 20px;
    border-bottom: 1px solid #fff2;
    border-radius: 0;
    margin: 0;
}

.tc-users-dropdown .tc-user:hover {
    background: #FFF1;
}

.tc-users-dropdown .tc-user .tc-user-name {
    color: #fff;
}

.tc-users .tc-user .tc-user-img {
    border: 1px solid #fff2;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.tc-chat-scrollbar::-webkit-scrollbar {
    width: 7px;
}

.tc-chat-scrollbar::-webkit-scrollbar-track {
    background: var(--nc-chat-color);
}

.tc-chat-scrollbar::-webkit-scrollbar-thumb {
    background: var(--nc-chat-scrollbar);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.tc-chat-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--nc-chat-scrollbar);
}

@keyframes tcLoading {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.tc-chat.tc-popup-design .tc-single-msg-box .tc-msg-box-head {
    background: var(--nc-chat-color);
}



.tc-chat .tc-single-msg-box .tc-msg-box-head .media-foot .tc-close-box-btn {
    display: inline-block;
}

.tc-chat.tc-popup-design .tc-messages-boxes-wrapper {
    bottom: 40px;
}

.tc-chat .tc-single-msg-box .tc-msg-box-body .tc-msg-body.tc-left-msg .tc-msg-txt {
    color: #222;
}

.tc-chat .tc-single-msg-box .tc-msg-box-body .tc-msg-body .tc-msg-user-img {
    display: none;
}

.tc-chat .tc-single-msg-box .tc-msg-box-body .tc-msg-body .tc-user-info {
    display: none;
}

.tc-chat .tc-single-msg-box .tc-msg-box-body .tc-right-msg .single-msg {
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-end;
            align-items: flex-end;
}

.tc-chat .tc-single-msg-box .tc-msg-box-body .tc-all-messages {
    height: 100%;
}
.nc-navbar .navbar-nav .dropright .dropdown-menu .tc-chat-loader-container{
    height: 300px;
}