/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lora:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;900&family=Open+Sans:wght@400;600;700;800&family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,600;1,700&display=swap');*/
:root {
    --ff_lato: 'Lato', sans-serif;
    --ff_lora: 'Lora', serif;
    --ff_mont: 'Montserrat', sans-serif;
    --ff_open: 'Open Sans', sans-serif;
    --ff_popi: 'Poppins', sans-serif;
    --ff_sans: 'PT Sans', sans-serif;
    --ff_robo: 'Roboto', sans-serif;
    --ff_sour: 'Source Sans Pro', sans-serif;
    --ffp: "Poppins", sans-serif;
    --fontFamily: var(--ffp);
    --main_color: #fff;
    --main_color_low: #fffa;
    --blue_color: #00dcff;
    --grey_color: #151b1faa;
    --grey_color: #3b5664;
    --dark_color: #282a36;
    --dark_blue: #527DBD;
    --popup_bg_color: var(--grey_color);
}
:root{
    --bg-color: var(--grey_color);
    --text-color: #fff;
    --bg-color-light: #fff1;
}

.tc-element-input{
    cursor: text;
}
.tc-dragover-content {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background: #000a;
    z-index: 99999;
    border-radius: 10px;
    padding: 10px;
}
.tc-dragover-content.active {
    display: flex;
}
.tc-file-input-group.tc-dragover{
    background: #0005;
}
.tc-dragover-content::after{
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    border: 5px solid;
    border-color: #000a transparent transparent transparent;
}
.input-group-prepend{
    margin-right: 0;
}
.tc-file-input-group .input-group-text{
    background: #1e2743 !important;
    cursor: pointer;
    -webkit-transform: translateY(-2px);
       -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
         -o-transform: translateY(-2px);
            transform: translateY(-2px);
}
.tc-file-input-group .tc-files-name{
    background: transparent !important;
}
.tc-file-input{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -999;
}
.table tr:hover{
    background: #fff1;
}
.no-list-style{
    list-style: none !important;
}
.modal-content{
    border: none !important;
}
.single-text-editor{
    display: flex;
    -webkit-align-items: center;
            align-items: center;
}
.single-text-editor .text-box{
    display: none;
}
.single-text-editor .edit-btn,
.single-text-editor .save-btn
{
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
    cursor: pointer;
}
.single-text-editor .save-btn{
    display: none;
    font-size: 18px;
}
.single-text-editor.editing-mode .text{
    display: none;
}
.single-text-editor.editing-mode .edit-btn{
    display: none;
}
.single-text-editor.editing-mode .text-box{
    display: inline-block;
}
.single-text-editor.editing-mode .save-btn{
    display: inline-block;
}
.valign-middle,
.valign-middle td,
.valign-middle th{
    vertical-align: middle;
}
.hide-browser-appearance::-webkit-outer-spin-button,
.hide-browser-appearance::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-browser-appearance {
    -moz-appearance:textfield;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);
    color: #FFF;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.scroll-smooth * {
    scroll-behavior: smooth;
}

.no-scroll-smooth * {
    scroll-behavior: initial;
}

body.full-height {
    height: 100vh;
    width: 100%;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ 
        Start Scroll Bars Area
-------------------------------------- */
*:focus{
    outline: none;
}
.table th{
    border-bottom: 1px solid #dee2e6 !important;
}
.bg-img{
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.tc-files-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    z-index: 99;
}

.tc-files-container .tc-progress-bar{
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
}
.tc-files-container .progress {
    min-width: 300px;
}

.tc-files-container .label {
    white-space: nowrap;
    margin: 0;
    margin-right: 10px;
}
.hide-scrollbar::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.CodeMirror-tmp *::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.CodeMirror-tmp *::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
    background: #333;
}

.CodeMirror-tmp *::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
}

.CodeMirror-tmp *::-webkit-scrollbar-thumb:hover,
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ------------------------------------ 
        End Scroll Bars Area
------------------------------------- */
/* ------------------------- 
       Start Classes
------------------------- */

.d-cursor {
    cursor: context-menu;
}

.nc-text-success {
    color: #2af959 !important;
}

.line-through {
    text-decoration: line-through;
}

.cp {
    cursor: pointer;
}

.no-btn-styles {
    background: transparent;
    border: none;
}

.pt-100 {
    padding-top: 100px !important;
}

.list {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    border: 1px solid #fffa;
}

.border {
    border: 1px solid #fffa;
}

.list .list-item {
    list-style: none;
    color: #fff;
    border-bottom: 1px solid #fffa;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.list .list-item:last-child {
    border-bottom: none;
}

.toggle-group {
    display: none !important;
}

.bold {
    font-weight: bold;
}

.heading {
    font-family: var(--fontFamily);
    font-weight: bold;
}

h1.heading {
    font-size: 50px;
}

h2.heading {
    font-size: 40px;
}

h3.heading {
    font-size: 30px;
}

h4.heading {
    font-size: 25px;
    font-weight: 500;
}

h5.heading {
    font-size: 20px;
    font-weight: 500;
}

h6.heading {
    font-size: 18px;
}

.more {
    font-family: var(--fontFamily);
    font-size: 14px;
}

.more.small {
    font-size: 13px;
    color: #666;
}

.more.large {
    font-size: 15px;
    line-height: 24px;
}

.more.normal {
    font-size: 16px;
}

.form-control {
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: var(--fontFamily);
    color: #000 !important;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.form-control::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-control.full-border {
    border: 1px solid #ccc;
}

.form-control:focus {
    color: #333;
    background: transparent;
    border-color: #FFF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: #ccc;
}

.form-control option {
    background: var(--grey_color);
}

button:focus,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.shadow {
    -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.shadow-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.section {
    padding: 80px 50px;
}

.section-heading {
    font-size: 32px;
    text-align: center;
    font-family: var(--fontFamily);
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.section-heading::after,
.section-heading::before {
    content: "";
    background: var(--main_color);
    width: 50px;
    height: 2px;
    display: inline-block;
    margin: 15px;
}

.card {
    border: none;
    padding: 20px;
    background: #FFF1;
    -webkit-box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
}
.card.folding-card{
    padding: 0;
}

.card.folding-card .card-header{
    cursor: pointer;
}

.jcc {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.aic {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.aifs {
    display: flex;
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important;
}

.jssb {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.jssa {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.asfs {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.content-center {
    width: 100%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.check-list {
    margin: 0;
    padding: 0;
}

.check-list li {
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
}

.check-list li i {
    display: inline-block;
    margin-right: 10px;
    color: var(--main_color);
}

.snb-btn {
    background: var(--main_color);
    color: #FFF;
    font-family: var(--ffr);
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.snb-btn:hover {
    color: #FFF;
    -webkit-box-shadow: 2px 2px 20px #0003;
    box-shadow: 2px 2px 20px #0003;
}

.snb-btn2 {
    background: var(--otherColor);
}

.outline-btn {
    font-family: var(--ffr);
    background: #FFF;
    color: #333;
    width: 100%;
    border: 1px solid #99aa;
    padding: 10px;
}

.outline-btn:focus {
    border: 1px solid #99aa;
}

.outline-btn img,
.outline-btn svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.pull-away {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.pull-right {
    float: none;
    clear: both;
    width: 100%;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.align-center {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.checkboxLabel {
    position: relative;
    display: flex;
    cursor: pointer;
    color: #FFF;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 0;
}

.checkboxLabel .checkbox {
    width: 0px !important;
    height: 0px !important;
    opacity: 0 !important;
}

.checkboxLabel .c-box {
    width: 15px;
    height: 15px;
    border: 1px solid var(--main_color);
    margin-right: 5px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.checkboxLabel .c-box i {
    font-size: 10px;
    color: #000;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.checkboxLabel .c-box.round {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.checkboxLabel .c-box.round {
    padding: 8px;
}

.checkboxLabel .c-box.round i {
    color: #FFF;
}

.checkboxLabel .checkbox:checked~.c-box {
    background: var(--main_color);
}

.checkboxLabel .checkbox:checked~.c-box.round {
    background: transparent;
}

.checkboxLabel .checkbox:checked~.c-box i {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.checkboxLabel .checkbox:focus~.c-box {
    position: relative;
}

.checkboxLabel .checkbox:focus~.c-box::after {
    content: "";
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    background-color: #05acff55;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

/* ======== Start Side Notifcaitons ============== */
.side-notifications {
    position: fixed;
    right: 20px;
    bottom: 20px;
    min-width: 300px;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 99;
    pointer-events: none;
}

.side-notifications .single-notify {
    background-color: #222E3C;
    margin: 5px 0;
    color: #fff;
    padding: 15px;
    font-family: var(--fontFamily);
    width: 100%;
    opacity: 0;
    pointer-events: all;
    -webkit-animation: notify 4s linear;
    -moz-animation: notify 4s linear;
    -o-animation: notify 4s linear;
    animation: notify 4s linear;
}

.notify-toasts .single-toast.error {
    background-color: #d00a;
}

@keyframes notify {
    0% {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }

    20%,
    80% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: .9;
    }

    90% {
        opacity: .5;
    }

    100% {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}

.label {
    display: inline-block;
    max-width: 100%;
    margin: 10px 0px 0px;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--fontFamily);
    color: #fff;
    letter-spacing: 1;
}

.error {
    color: #D00;
    font-size: 13px;
    font-family: var(--fontFamily);
}

.loader {
    display: block;
    width: 40px;
    height: 40px;
    background: 0 0;
    border: 5px solid;
    border-color: #333 #333 #333 transparent;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: .5s rotate linear infinite;
    -moz-animation: .5s rotate linear infinite;
    -o-animation: .5s rotate linear infinite;
    animation: .5s rotate linear infinite
}

a>.loader {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-width: 1px;
}

.dropdown-item>.loader,
.loader.loader-white {
    border-color: #fff #fff #fff transparent;
}

.s_btn .loader,
button .loader,
.loader-small {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-width: 1px;
    border-color: #333 #333 #333 transparent
}

.disabled {
    opacity: .6;
    cursor: no-drop !important;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fonts {
    font-family: var(-ffp);
}

.submit-btn,
.s_btn {
    font-size: 13px;
    color: #000;
    padding: 7px 12px;
    font-weight: 500;
    margin: 0;
    font-family: var(--fontFamily);
    cursor: pointer;
    background: var(--main_color);
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    display: inline-block;
}

.submit-btn.outline,
.s_btn.outline {
    background: transparent;
    color: #FFF;
    border: 1px solid #fff;
}

.submit-btn.round,
.s_btn.round {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.submit-btn.round:hover,
.s_btn.round:hover {
    background: #fff;
    color: #000;
    opacity: 1;
}

.submit-btn:hover {
    opacity: 0.8;
}

/* ======== End Side Notifcaitons ============== */
/* ------------------------- 
       End Classes
------------------------- */
/* ------------------------- 
     Alert Box Area Start
------------------------- */
.alertBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    display: none;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.alertBox.active {
    display: flex;
}

.alertBox .content {
    margin-top: 20px;
    width: 400px;
    background: #FFF;
    display: none;
    overflow: hidden;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 25px 2px #0003;
    box-shadow: 2px 2px 25px 2px #0003;
    -webkit-animation: fadeTop .2s linear;
    -moz-animation: fadeTop .2s linear;
    -o-animation: fadeTop .2s linear;
    animation: fadeTop .2s linear;
}

.alertBox.active .content {
    display: block;
}

@keyframes fadeTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.alertBox .content .heading {
    background: var(--main_color);
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: var(--ffr);
    color: #FFF;
    padding: 10px;
    text-transform: capitalize;
}

.alertBox.err .content .heading {
    background: #D00;
}

.alertBox .content .body {
    background: #FFF;
    padding: 30px 20px;
    font-family: sans-serif;
}

.alertBox .content .foot {
    width: 100%;
    padding: 5px 10px;
    border-top: 1px solid #0005;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.alertBox .content .foot .ok-btn {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px, rgba(0, 0, 0, 0.12) 0px 2px 10px;
    font-size: 14px;
    border-radius: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    color: #fff;
    padding: 7px 12px;
    font-weight: bold;
    font-family: var(--ffr);
    cursor: pointer;
    background-color: var(--main_color);
    text-transform: uppercase;
}

/* ------- Responsive ------ */
@media (max-width: 450px) {
    .alertBox {
        -webkit-align-items: center;
        align-items: center;
    }

    .alertBox .content {
        width: 100%;
    }

    .card-body {
        padding: 10px !important;
    }
}

.swal2-popup {
    background: var(--popup_bg_color) !important;
}

.swal2-title,
#swal2-content {
    color: #FFF !important;
}

.swal2-actions button {
    background: #FFF !important;
    padding: 7px 12px !important;
    color: #000 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.swal2-success-circular-line-left,
.swal2-icon.swal2-success .swal2-success-fix,
.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right] {
    background: transparent !important;
}

/* ------------------------- 
     Alert Box Area End
------------------------- */
.panel {
    padding: 0px;
    border: 1px solid var(--main_color_low);
}

.no-border {
    border: none !important;
}

.card-header {
    padding: 0.75rem 0.5rem;
    background: var(--main_color);
    color: #212529;
}

.card-header a {
    color: #212529;
    font-weight: 400;
}

.card-header a:hover {
    text-decoration: underline;
}

.input-group:not(.select-input-group) .form-control {
    padding-right: 40px;
}

.input-group-text:not(.no-custom-css) {
    background: transparent;
    border: none;
    border-radius: 0;
    color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.input-group-text.file-upload-label {
    cursor: pointer;
    z-index: 12;
    background: var(--main_color);
    color: #333;
}

.file-upload-label~.form-control[readonly] {
    background: transparent;
}

.select-input-group {
    border: 1px solid #ccc;
}

.select-input-group .form-control {
    border: none;
}

.select-input-group .input-group-text {
    background: var(--grey_color);
    color: #FFF;
    border: none;
}

.nc-panel-btn {
    background: transparent;
    color: #FFF;
    border: 1px solid #fff;
}

.nc-panel-btn.active {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}

.nc-panel {
    display: none !important;
}

.nc-panel.active {
    display: block !important;
}

.nc-oc-bg,
.nc-bg-grey {
    background: var(--grey_color) !important;
}

.nc-bg-dark-gradient {
    background: linear-gradient(#030c12, #041720) !important;
}

.nc-bg-grey-gradient {
    background: linear-gradient(#1d233e, #202e4b) !important;
}

.nc-bg-blue {
    background-color: var(--dark_blue) !important;
}

.dark-btn {
    margin-bottom: -1px;
    background: transparent !important;
    color: var(--dark_color) !important;
    border-color: var(--dark_color) !important;
}

.dark-btn.active {
    background: var(--dark_color) !important;
    color: #FFF !important;
}

div:focus {
    outline: none;
}

.sh-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.sh-dropdown .dropdown-toggle {
    font-size: 14px;
}

.sh-dropdown .dropdown-menu {
    left: auto !important;
    right: 0;
    background: var(--grey_color) !important;
}

.sh-dropdown .dropdown-menu .dropdown-item {
    color: #FFF;
}

.sh-dropdown .dropdown-menu .dropdown-item i {
    display: inline-block;
    margin-right: 7px;
}

.sh-dropdown .dropdown-menu .dropdown-item:hover,
.sh-dropdown .dropdown-menu .dropdown-item:focus {
    background: #fff3 !important;
}

.sh-dropdown .dropdown-toggle-btn {
    font-size: 14px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    color: #FFF;
    cursor: pointer;
    line-height: 30px;
}

.sh-dropdown .dropdown-toggle-btn:hover,
.sh-dropdown .dropdown-toggle-btn:focus,
.sh-dropdown.show .dropdown-toggle-btn {
    background: #fff3;
}

.popover .popover-title {
    color: #000 !important;
    background: #f00 !important;
}

.popover {
    background: var(--grey_color) !important;
}

.bs-popover-auto[x-placement^=right] .arrow::before,
.bs-popover-right .arrow::before {
    border-right-color: rgba(0, 0, 0, .2);
}

.popover,
.bs-popover-auto[x-placement^=right] .arrow::before,
.bs-popover-right .arrow::before {
    border: none !important;
    -webkit-box-shadow: 0 0px 40px #000a;
    box-shadow: 0 0px 40px #000a;
}

.bs-popover-auto[x-placement^=right] .arrow::after,
.bs-popover-right .arrow::after {
    border-right-color: var(--grey_color);
}

.popover-header {
    background: transparent;
    color: #FFF;
}

.popover-body {
    color: #FFF;
}

.popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000a;
    background: var(--grey_color);
    z-index: 999;
    display: none;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.popup-window>.content {
    width: 100%;
    height: 100vh;
    background: var(--grey_color);
    padding: 50px;
    overflow: auto;
}

.popup-window .close-btn {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
}

.popup-window.active {
    display: flex;
}

.popup-window .response-window {
    background: #FFF3 !important;
}

.body-no-scroll {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.notify-toasts {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 250px;
    pointer-events: none;
    z-index: 999999;
}

.notify-toasts .single-toast {
    background-color: #000;
    margin: 5px 0;
    color: #fff;
    padding: 15px;
    font-family: sans-serif;
    width: 100%;
    opacity: 0;
    z-index: 999999;
    -webkit-animation: notify 4s linear;
    -moz-animation: notify 4s linear;
    -o-animation: notify 4s linear;
    animation: notify 4s linear;
}

@keyframes notify {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    20%,
    80% {
        transform: translateX(0);
        opacity: .9;
    }

    90% {
        opacity: .5;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.half-opacity {
    opacity: 0.5;
}

/* ---- Tooltip ----- */
[nc-tooltip], .copy-data {
    position: relative;
}

[nc-tooltip]::after, .copy-data::after {
    content: attr(nc-tooltip);
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    background: black;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    padding: 3px 5px;
    display: none;
    pointer-events: none;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

[nc-tooltip]::before, .copy-data::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 5px);
    left: 50%;
    border: 5px solid;
    display: none;
    pointer-events: none;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-color: #000 transparent transparent transparent;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

[nc-tooltip]:hover::after, .copy-data:hover::after {
    display: block;
}

[nc-tooltip]:hover::before, .copy-data:hover::before {
    display: block;
}

/* ---- Bottom Tooltip --- */
[nc-tooltip].bottom-tooltip::after {
    top: calc(100% + 5px);
    bottom: auto;
}

[nc-tooltip].bottom-tooltip::before {
    top: calc(100% - 5px);
    bottom: auto;
    border-color: transparent transparent #000 transparent;
}

/* ---- Left Tooltip --- */
[nc-tooltip].left-tooltip::after {
    left: auto;
    right: calc(100% + 5px);
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

[nc-tooltip].left-tooltip::before {
    left: auto;
    right: calc(100% - 5px);
    top: 50%;
    bottom: auto;
    border-color: transparent transparent transparent #000;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ---- Right Tooltip --- */
[nc-tooltip].right-tooltip::after {
    right: auto;
    left: calc(100% + 5px);
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

[nc-tooltip].right-tooltip::before {
    left: auto;
    left: calc(100% - 5px);
    top: 50%;
    bottom: auto;
    border-color: transparent #000 transparent transparent;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.clickable[data-toggle="popover"][data-content*="a"] {
    cursor: pointer;
}

.fieldset {
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

span.label.legend {
    position: absolute;
    top: -11px;
    left: 20px;
    margin: 0;
    background-color: #6291c4;
    padding: 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drag-file-effect {
    position: relative;
}

.drag-file-effect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0005;
    z-index: 2;
    pointer-events: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.drag-file-effect .input-group-text.file-upload-label {
    z-index: 1;
}

span.drag-file-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 20px;
    text-shadow: 0 0 10px #0005;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
}

.drag-file-effect .drag-file-text {
    opacity: 1;
}

.no-select {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.nc-context-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
}

.nc-context-menu.active {
    display: block;
}

.nc-context-menu ul {
    margin: 0;
    padding: 0;
    background: #ddd;
    width: 200px;
    color: black;
    box-shadow: 1px solid #000a;
}

.nc-context-menu ul li {
    list-style: none;
    padding: 4px 10px;
    font-family: var(--fontFamily);
    font-size: 14px;
    cursor: context-menu;
}

.nc-context-menu ul li:hover {
    background: #4395fc;
    color: #fff;
}

.nc-context-menu[data-type="folder"] .file-option {
    display: none;
}

.nc-context-menu[data-type="folder"] .folder-option {
    display: none;
}

.nc-context-menu li.disabled {
    pointer-events: none;
}
.toggle-panel .panel-header {
    background: linear-gradient(#1d233e, #202e4b);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0;
    cursor: pointer;
}
.toggle-panel .panel-body{
    border: 1px solid #0005;
    border-top: none;
    padding: 20px;
    display: none;
    -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
}