.tc-chat .tc-users {
    background: transparent;
    position: relative;
    z-index: 99;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    overflow: auto;
    width: calc(20% + 35px);
    padding-right: 35px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.tc-chat .tc-users .tc-head {
    background: #FFF;
    padding-left: 20px;
    -webkit-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
    z-index: 9;
}
.tc-chat .tc-users .tc-head::after{
    content: "";
}
.tc-chat .tc-users .tc-head.prev-user-label {
    border-radius: 20px 20px 20px 0 !important;
}

.tc-users .tc-all-users {
    padding: 0 0px 20px 0px;
    overflow: auto;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: visible;
}

.tc-chat .tc-users .tc-user {
    margin: 0;
    box-shadow: none;
    position: relative;
    background: #fff;
    padding-left: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-left: 3px solid transparent;
}

.tc-chat .tc-users .tc-user::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: aliceblue;
    box-shadow: 0 20px 50px 0px #0000;
    z-index: -5;
    pointer-events: none;
}

.tc-chat .tc-users .tc-user:hover {
    
}


.tc-chat .tc-users .tc-user.current::after {
    background: linear-gradient(90deg, #fff, var(--nc-chat-color));
    box-shadow: none;
}

.tc-chat .tc-users .tc-user::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--nc-chat-color);
    z-index: -3;
}

.tc-chat .tc-users .tc-user.current~.tc-user::after {
    transform: translateY(35px);
}

.tc-user.tc-open-chat.current + .tc-user {
	-webkit-border-radius: 0 20px 0 0;
	        border-radius: 0 20px 0 0;
}
.tc-user.tc-open-chat.prev-user{
	-webkit-border-radius: 0 0 20px 0;
	        border-radius: 0 0 20px 0;
}

.tc-user.tc-open-chat.tc-user-prev::after {
    transform: translateY(-65px);
}


.tc-users::after {
    content: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f00;
    display: inline-block;
    height: 65px;
    z-index: -6;
    background: #fff;
    border-radius: 0 0 30px 30px;
}


.tc-user.tc-open-chat.current {
    background: transparent;
    border-radius: 0px;
    border-color: var(--nc-chat-dark-color);
}
.tc-user.current .tc-user-overlay-top,
.tc-user.current .tc-user-overlay-bottom
 {
    width: 95%;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0;
    box-shadow: 20px 0px 50px 0px #0000;
    border-radius: 30px;
    z-index: -1;
}
.tc-user.current .tc-user-overlay-bottom{
    bottom: -30px;
    top: auto;
}
.tc-chat .tc-messages-boxes-wrapper{
    padding-left: 0;
}
.tc-chat .tc-single-msg-box .tc-msg-box-body .tc-msg-body .tc-user-info{
    color: #AAA;
    font-size: 12px;
    padding-bottom: 5px;
}
.tc-attachments  .tc-single-file.tc-image-file{
    height: 90px;
}
.tc-attachments .tc-single-file i{
    font-size: 22px;
}
.tc-chat .tc-single-msg-box .tc-msg-box-body .tc-msg-body .tc-user-info .tc-user-name{
    display: none;
}
.tc-msg-options .dropdown-menu,
.tc-box {
    box-shadow: 0 20px 50px #0001;
    border: none;
    border-radius: 10px;
}
.tc-msg-options .dropdown-menu .dropdown-item{
    cursor: pointer;
    font-size: 14px;
    color: #555;
}
.tc-msg-options .dropdown-menu .dropdown-item:hover{
    background: #0001;
}
.tc-msg-files .tc-single-file{
    background: var(--nc-chat-color);
}
.tc-left-msg .tc-msg-files{
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
}
.tc-right-msg .tc-msg-files{
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
}
/*.tc-right-msg .tc-msg-files .tc-single-file{
    background-color: #00ade0;
}*/
.tc-right-msg .tc-msg-files.tc-image-file .tc-single-file{
    background-color: transparent;
}
.tc-right-msg .tc-msg-files .tc-single-file .tc-file-icon{
    color: #F3F3F3;
}
.tc-right-msg .tc-msg-files .tc-single-file .tc-download-icon{
    color: #fff !important;
}
.tc-msg-files .tc-image-file.tc-single-file{
    background: transparent !important;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
}
.tc-msg-files .tc-image-file.tc-single-file .tc-download-icon{
    display: none;
}
.tc-msg-files .tc-image-file.tc-single-file:hover .tc-download-icon{
    display: inline-block;
}