.lg-container {
    width: 100%;
    min-height: 100vh;
    padding: 50px;
}

.login-window {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 100%;
    -webkit-box-shadow: 2px 2px 30px #0001;
    box-shadow: 2px 2px 30px #0001;
    background: #FFF;
    overflow: hidden;
}

.window-bg {
    min-height: 100%;
    background: url('../images/bg-1.svg') no-repeat;
    background-position: bottom right;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sign-form>.clearfix {
    width: 80%;
    text-align: center;
}

.sign-form .social-icons {
    margin: 30px 0;
}

.sign-form .social-icons .social-icon{
    display: inline-block;
    font-size: 20px;
    color: #AAA;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #0002;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}